<h4><%= link_to("<< Patients", patient_index_url)%></h4>
<h1><%= @patient.person.firstName + " " + @patient.person.lastName %></h1>
<h4><%= @patient.insurance(@patient.insurancePlan) + " Insurance" %></h4>
<h4><%= "sexo: " + @patient.person.gender %></h4>
<h4><%= "dob: " + @patient.person.dob %></h4>

<h4>Treatments:</h4>
<ul>
  <% @patient.treatments.each do |treatment| %>

    <li>
      Doctor: <%= link_to(treatment.doctor.person.firstName + " " + treatment.doctor.person.lastName, doctor_path(treatment.doctor))  %><br>
      <%= "Duration: " + treatment.duration.to_s + " Days"%><br>
      <ul>
        <% treatment.medicaments.each do |med| %>
          <li><%= med %></li>
        <% end %>
      </ul>
      <%= treatment.description %><br>
    </li>
  <% end %>
</ul>
<h4><%= "PersonId: " + @patient.person.id %></h4>
<h4><%= "PatientId: " + @patient.id %></h4>
